{{#if mostraTitulo}}
<h1>{{titulo}}</h1>
<!--<i class="fas fa-ambulance"></i>-->
{{else}}
<h1>Página sem titulo</h1>
{{/if}}

<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">
<img src="/css/assets/arvore.png">

<p style="padding-top: 30px;">Este é um trabalho de Programação Web 1 realizado pela aluna Sthefanie Passo e proposto pelo professor David Oliveira. A proposta é implementar um jogo com suas regras e práticar algumas funcionalidades de formulário e Banco de Dados com o express.js<p>
<p>No menu <b>Sobre</b> pode-se ter uma explicação da motivação do jogo e como jogar. Já em <b>Jogo</b> pode-se iniciar uma partida. Em <b>Curso</b> você pode criar Cursos da UFAM colocando a sigla e descrição, assim como visualizar, editar e apagar cursos.</p>
<p>Para contatar a autora envie um e-mail com os contatos no final da página. Espero que goste da aplicação, divirta-se!! </p>
<!--<ul>
    {{#each professores}}
    <li><strong>{{nome}}</strong>: sala {{sala}}</li>
    {{/each}}
</ul>-->