<h1>Vigilantes da Floresta</h1>

<img class="cutImage" src="/css/assets/reserva.png">

<p style="padding-top: 30px;">Devido a vários eventos de desmatamento na Amazonia nesse anos de 2020, o time de games desenvolveu um jogo para insentivar jovens e adultos serem <a href="/game">Vigilantes da Floresta</a>. O jogador deve clicar em cima do foco de incendio e apagar o máximo que puder. Se o foco de incendio não for apagado, o jogador perde uma vida. A medida que o tempo vai vai passando a jogada se torna ainda mais desafiadora.</p>
<p>São mais de 5,5 milhões de quilômetros quadrados de Floresta Amazônica. Uma grande área que se estende por 9 países. A maior parte, 60%, está contida dentro do território Brasileiro. Estudos garantem que são mais de 400 bilhões de árvores nativas de matas primárias. A Floresta Amazônica tem um papel fundamental no equilíbrio climático de todo o planeta. Ela freia o aquecimento global, pois, em pé, é uma imensa fonte de captação e estoque de carbono. São mais de 155.550 Gt (gigatoneladas) de gás carbônico (CO2eq), impedindo que esses gases alcancem a atmosfera e aumentem o efeito estufa.</p>
<p>Tente fazer o máximo de pontos que puder, e salve a Amazonia!! Para iniciar o jogo vá para "Jogo" e clique na tecla <b>S</b>, para pausar clique em <b>P</b> e se divirta Vigilante da Floresta.</p>
<!--<div style="margin-top: 200px;"></div>-->